body {
	padding: 0px;
	margin: 0px;
	background-image: url("https://bit4coin.net/bitcoin-photo-contest/uploads/photo/image/150/thumb_BitcoinWorld.png");
	background-size: 100% 1000px;
	background-repeat:no-repeat;
}

main {
	height: 100%;
}

.hidden {
	display: none;
}


.maindiv {
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #3D3F47;
	position: fixed;
	padding-top: 70px;
	top: 0;
	text-align: center;
	transform: translateX(100%);
	z-index: 100;

}

.maindiv-view {

transform: translateX(0%);

}

.button1 {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font-size: 50px;
    border: none;
    background-color: #3D3F47;
    border-radius: 6px;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 140px;
    white-space: nowrap;


}

.button1:hover {
    background-color: #4CAF50;   
    color: white;
}

.container {
	background-color: #E5E5E5;
	font-family: 'Raleway', sans-serif;
	border: 1px solid gray;
	border-radius: 9px;
	width: 80%;
/*	width: 35%;
*/	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 35px;
	text-align: center;

}

.search{

	font-size: 30px;
    border: none;
    background-color: white;
    border-radius: 6px;
    color: grey;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}


 .button2 {

	font-size: 30px;
    border: none;
    background-color: #4FACA3;
    border-radius: 6px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

@media only screen and (min-width: 370px) {
	.button1 {
		margin-top: 175px;
	}

}

@media only screen and (min-width: 410px) {
/*	.maindiv {
		padding-top: 100px;
	}*/

	.container {
		width: 70%;
	}

}

@media only screen and (min-width: 560px) {
	.button1 {
		margin-top: 50px;
	}

	.container {
		padding: 10px 30px 20px 30px;
	}

}

@media only screen and (min-width: 660px) {
	.button1 {
		margin-top: 70px;
	}
}

@media only screen and (min-width: 730px) {
	.button1 {
		margin-top: 90px;
	}

	.container {
		width: 60%;
		margin-top: 70px
	}

}

@media only screen and (min-width: 760px) {
	.button1 {
		margin-top: 360px;
	}

	.container {
		width: 400px;
		margin-top: 200px
	}

}

@media only screen and (min-width: 900px) {
	.button1 {
		margin-top: 280px;
	}

	.container {
		margin-top: 200px
	}

}